body {
    font-family: Arial, sans-serif;
    background-color: #r333;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #534f4f;
    padding: 0.5em 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffdd00;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #e0d0d0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #0056b3;
    margin-bottom: 10px;
}

/* Botón */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px auto;
    display: block;
}

button:hover {
    background-color: #0056b3;
}

/* Galería de imágenes */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
}
